@import '_abstracts/typography.scss';
@import '_abstracts/colors.scss';

.about-container {
  background-color: $primary-white;
  font-family: $heading-font-family;
  color: $text-black;
  font-weight: 300;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  letter-spacing: .3rem;
  text-align: center;
  .alt {
    font-family: $accent-font;
    color: $accent-pink;
    text-transform: capitalize;
  }

  .player {
    font-family: $accent-font;
    font-size: 3.5rem;
    color: $text-black;
    display: flex;
    justify-content: center;
  }
}

.about-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  
  .img-team {
    box-sizing: content-box;
    border-width: 1rem;
    border-radius: .8rem;
    border-style: solid;
    border-image: linear-gradient(to right bottom, #FF00F5, #f4f4f4);
    border-image-slice: 1;
    margin-bottom: .5rem;
  }
  

  .bio-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bio {
      font-size: 1.4rem;
      font-family: $accent-font;
      margin-bottom: 0.8rem;
    }

    .text {
      width: 18rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

// XSMALL SCREEN//// XSMALL SCREEN//// XSMALL SCREEN//// XSMALL SCREEN//

.about-container-xsmall{
  .title-xsmall {
    margin-top: 5vh;
    font-size: .7rem;
    width: 100vw;
    line-height: 2rem;
    .alt-xsmall {
      font-size: 2rem;
      margin: 0 .6rem 0 .6rem;
    }
    .player{
      font-size: 1.4rem;
    }
  }
  .about-img {
    gap: 1.5rem;
    margin-top: 2vh;
    margin-bottom: 5vh;
    gap: 1rem;
    .img-team-xsmall {
      width: 39vw;
      height: auto; 
    }   
  }
}

// SMALL SCREEN//// SMALL SCREEN//// SMALL SCREEN//// SMALL SCREEN//
.about-container-small {
  .title-small {
    margin-top: 6vh;
    font-size: 1.2rem;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    .alt-small {
      font-size: 3.6rem;
      margin: 0 .8rem 0 .8rem;
    }
  }
  .about-img{
    margin-top: 2vh;
    margin-bottom: 5vh;
    .img-team-small{
      width: 40vw;
    }
    .bio-small{
      font-size: 1.8rem;
    }
  }
  
}

// MEDIUM SCREEN//// MEDIUM SCREEN//// MEDIUM SCREEN//// MEDIUM SCREEN//
.about-container-medium{
  .title-medium{
    margin-top: 6vh;
    width: 90vw;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 4rem;
    .alt-medium{
      font-size: 5rem;
      margin: 0 1.2rem 0 1.2rem;
    }
  }
  .about-img{
    margin-top: 1vh;
    margin-bottom: 7vh;
    .img-team-medium{
      width: 40vw;
    }
    .bio-medium{
      font-size: 2rem;
    }
  }
  
}

// LARGE SCREEN//// LARGE SCREEN//// LARGE SCREEN//// LARGE SCREEN//
.about-container-large{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  .title-large{
    width: 90vw;
    margin-top: 16vh;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.2em;
    .alt-large{
      font-size: 1.5em;
      margin: 0 1.8rem 0 1.8rem;
    }
  }
  .about-img{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    margin-bottom: 6vh;
    .img-team-large{
      width: 30vw;
    }
    .bio-large{
      font-size: 1.8rem;
    }
  }
}

// XLARGE SCREEN//// XLARGE SCREEN//// XLARGE SCREEN//// XLARGE SCREEN//

.about-container-xlarge{
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  .title-xlarge {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  margin-top: -7vh;
  font-size: 1.8rem;
  margin-bottom: 5vh;

  .alt-xlarge {
    font-size: 5rem;
    margin: 0 2.3rem 0 2.3rem;
  }
}

.about-img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -2vh;
  .bio-team{
    .img-team-xlarge {
      width: 17vw;
    }
   .bio-xlarge{
    font-size: 1.6rem;
   }
  }
  
}

}
