@import '_abstracts/typography.scss';
@import '_abstracts/colors.scss';

.chatbox-body {
  background: linear-gradient(0deg, $primary-white, #B7D9F7 80%, $primary-blue) no-repeat fixed;
  width: 100vw;
  height: 100vh;
  position: fixed;

  .chatbox-logo {
    height: 2rem;
    width: auto;
    display:block;
    margin: 0.3rem;
  }

  .chat-top {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    .chatbox-top {
      margin-left: 5rem;
      width: 80rem;
      height: 32rem;
      background-color: $primary-white;
      border: 1px solid $text-black;
      border-radius: .75rem .75rem 0 0;
    }

    .profile-top {
      width: 14rem;
      height: 15rem;
      background-color: $primary-white;
      border-radius: .75rem;
      border: 1px solid $text-black;
    }
  }

  .chat-bottom {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 4rem;

    .chatbox-bottom {
      margin-left: 5rem;
      width: 80rem;
      height: 15rem;
      background-color: $primary-white;
      border: 1px solid $text-black;
      border-radius: .75rem;
    }

    .profile-bottom {
      width: 14rem;
      height: 15rem;
      background-color: $primary-white;
      border-radius: .75rem;
      border: 1px solid $text-black;
    }
  }
}

// XSMALL SCREEN

// SMALL SCREEN

// MEDIUM SCREEN

// LARGE SCREEN

// XLARGE SCREEN

.chatbox-top-xlarge {
  margin-left: 5rem;
  width: 80rem;
  height: 32rem;
  background-color: $primary-white;
  border: 1px solid $text-black;
  border-radius: .75rem .75rem 0 0;
}