@import '_abstracts/typography.scss';
@import '_abstracts/colors.scss';

.chatbox-body {
  background: linear-gradient(0deg, $primary-white, #B7D9F7 80%, $primary-blue) no-repeat fixed;
  width: 100vw;
  height: 100vh;
  position: fixed;

  .chatbox-logo {
    height: 2rem;
    width: auto;
    display:block;
    margin: 0.3rem;
  }

  .chat-top {
    display: flex;
    flex-direction: row;

    .chatbox-top {
      background-color: $primary-white;
      border: 1px solid $text-black;
      border-radius: .75rem .75rem 0 0;
      flex: 1;
      max-height: 75%;
    }

    .profile-top {
      background-color: $primary-white;
      border-radius: .75rem;
      border: 1px solid $text-black;
      margin-right: 2vw;
      max-height: 25%;
    }
  }

  .chat-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;

    .chatbox-bottom {
      background-color: $primary-white;
      border: 1px solid $text-black;
      border-radius: .75rem;
      flex: 1;
    }

    .profile-bottom {
      background-color: $primary-white;
      border-radius: .75rem;
      border: 1px solid $text-black;
      margin-right: 2vw;
    }
  }
}

// XSMALL SCREEN
.chatbox-top-xsmall {
  width: 30rem;
  height: 5rem;
}

.profile-top-xsmall {
  width: 5rem;
  height: 6rem;
}

// SMALL SCREEN


// MEDIUM SCREEN

// LARGE SCREEN
.chat-top-large, .chat-bottom-large {
  gap: 2rem;
}

.chatbox-top-large {
  margin-left: 2rem;
  width: 55rem;
  height: 30rem;
}

.chatbox-bottom-large {
  margin-left: 2rem;
  width: 50rem;
  height: 12rem;
}

.profile-top-large, .profile-bottom-large {
  width: 12rem;
  height: 12rem;
}

// XLARGE SCREEN
.chat-top-xlarge, .chat-bottom-xlarge {
  gap: 2rem;
 }

.chatbox-top-xlarge {
  margin-left: 2rem;
  width: 55rem;
  height: 30rem;
}

.chatbox-bottom-xlarge {
  margin-left: 2rem;
  width: 55rem;
  height: 14rem;
}

.profile-top-xlarge, .profile-bottom-xlarge {
  width: 14rem;
  height: 14rem;
}