@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  background: linear-gradient(0deg, #F4F4F4, #B7D9F7 80%, #0F8CFF) no-repeat fixed;
}

.container-logo {
  height: 30px;
}
.container-logo img {
  height: 25px;
  margin-left: 10px;
}

.container-toolbar {
  background-color: #F4F4F4;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  flex-direction: row;
  margin: 15px 20px;
}

.chat-display-xsmall {
  height: 300px;
  width: 400px;
  background: linear-gradient(0deg, #F4F4F4 75%, #B7D9F7 85%, #0F8CFF 90%) no-repeat fixed;
  border: 1px solid gray;
  margin-left: 20px;
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friend-profile-outer-xsmall {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border: 1px solid gray;
  border-radius: 30px;
}

.friend-profile-inner-xsmall {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

.footer-chatwindow-xsmall {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 400px;
}

.footer-menu-xsmall {
  border: 1px solid gray;
  height: 30px;
  width: 400px;
  background: #C6DFF6;
}

.footer-tekst-xsmall {
  height: 190px;
}

.footer-message-xsmall {
  border: 1px solid gray;
  height: 30px;
  width: 400px;
  background: #C6DFF6;
}

.self-profile-outer-xsmall {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 30px;
}

.self-profile-inner-xsmall {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

.chat-display-small {
  height: 300px;
  width: 600px;
  background: linear-gradient(0deg, #F4F4F4 75%, #B7D9F7 85%, #0F8CFF 90%) no-repeat fixed;
  border: 1px solid gray;
  margin-left: 20px;
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friend-profile-outer-small {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border: 1px solid gray;
  border-radius: 30px;
}

.friend-profile-inner-small {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

.footer-chatwindow-small {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 600px;
}

.footer-menu-small {
  border: 1px solid gray;
  height: 30px;
  width: 600px;
  background: #C6DFF6;
}

.footer-tekst-small {
  height: 190px;
}

.footer-message-small {
  border: 1px solid gray;
  height: 30px;
  width: 600px;
  background: #C6DFF6;
}

.self-profile-outer-small {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 30px;
}

.self-profile-inner-small {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

.chat-display-medium {
  height: 300px;
  width: 810px;
  background: linear-gradient(0deg, #F4F4F4 75%, #B7D9F7 85%, #0F8CFF 90%) no-repeat fixed;
  border: 1px solid gray;
  margin-left: 20px;
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friend-profile-outer-medium {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border: 1px solid gray;
  border-radius: 30px;
}

.friend-profile-inner-medium {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

.footer-chatwindow-medium {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 810px;
}

.footer-menu-medium {
  border: 1px solid gray;
  height: 30px;
  width: 810px;
  background: #C6DFF6;
}

.footer-tekst-medium {
  height: 190px;
}

.footer-message-medium {
  border: 1px solid gray;
  height: 30px;
  width: 810px;
  background: #C6DFF6;
}

.self-profile-outer-medium {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 30px;
}

.self-profile-inner-medium {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

.chat-display-large {
  height: 300px;
  width: 1020px;
  background: linear-gradient(0deg, #F4F4F4 75%, #B7D9F7 85%, #0F8CFF 90%) no-repeat fixed;
  border: 1px solid gray;
  margin-left: 20px;
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friend-profile-outer-large {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border: 1px solid gray;
  border-radius: 30px;
}

.friend-profile-inner-large {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

.footer-chatwindow-large {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 1020px;
}

.footer-menu-large {
  border: 1px solid gray;
  height: 30px;
  width: 1020px;
  background: #C6DFF6;
}

.footer-tekst-large {
  height: 190px;
}

.footer-message-large {
  border: 1px solid gray;
  height: 30px;
  width: 1020px;
  background: #C6DFF6;
}

.self-profile-outer-large {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 30px;
}

.self-profile-inner-large {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

.chat-display-xlarge {
  height: 300px;
  width: 1220px;
  background: linear-gradient(0deg, #F4F4F4 75%, #B7D9F7 85%, #0F8CFF 90%) no-repeat fixed;
  border: 1px solid gray;
  margin-left: 20px;
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friend-profile-outer-xlarge {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border: 1px solid gray;
  border-radius: 30px;
}

.friend-profile-inner-xlarge {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

.footer-chatwindow-xlarge {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 1220px;
}

.footer-menu-xlarge {
  border: 1px solid gray;
  height: 30px;
  width: 1220px;
  background: #C6DFF6;
}

.footer-tekst-xlarge {
  height: 190px;
}

.footer-message-xlarge {
  border: 1px solid gray;
  height: 30px;
  width: 1220px;
  background: #C6DFF6;
}

.self-profile-outer-xlarge {
  position: fixed;
  height: 115px;
  width: 120px;
  margin: 15px;
  background: #0F8CFF;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 30px;
}

.self-profile-inner-xlarge {
  position: relative;
  height: 80px;
  width: 90px;
  top: 30px;
  left: 30px;
  background: #A7C7E5;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
}

/*# sourceMappingURL=Chatbox.css.map */
