@import '_abstracts/typography.scss';
@import '_abstracts/colors.scss';

.dashboard-body-container {
  background: linear-gradient(0deg, $primary-white, #B7D9F7 80%, $primary-blue) no-repeat fixed;
  width: 100vw;
  height: 100vh;
  position: fixed;
  .container-taskbar {
    img {
      height: 1.2rem;
      width: auto;
      display:block;
      margin: 0.3rem;
    }
  }
  .container-userInfo {
    display: flex;
    flex-direction: row;
    height: 16vh;
    border: 1px solid lightgrey;
    margin-top: 1vh;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    border-radius: 5px;
    background: linear-gradient(0deg, $primary-white, #B7D9F7 80%, $primary-blue) no-repeat fixed;
    .profile-picture{
      aspect-ratio: 1 / 1;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
      border-style: solid;
      border-color: rgb(45, 45, 45, 0.5);
      border-radius: 12px;
      border-width: 1px;
      margin: 5px 20px;
      margin-top: 1vh;
      margin-left: 1vw;
      background-color: $primary-white;
    }
    .nickname-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1vh;
      justify-content:flex-start;
      margin-top: 3vh;
      .nickname{
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
      }
      .song-playing{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0.15vw;
      }
    }
  }

  .add-friends {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-right: 1.6vw;
    margin-left: 0.8vw;
    margin-bottom: 1vh;
    gap: 1vw;
    align-items: center;
    .search-friend{
      flex: 1;
      height: 1.2rem;
      border-color: rgb(45, 45, 45, 0.2);
      border-radius: 5px;
    }
    .search-friend:focus {
      outline: none;
    }
    .add-friend-button{
      width: 2rem;
      padding: 0;
      margin: 0;
      height: 3.6rem;
      background-color: transparent;
      
      img{
        height: 100%;
        width: auto;
      }
    }
  }
  .online, .offline{
    margin-left: 2vw;
    .collapsible {
      border: none;
      color: $primary-blue;
      background-color: transparent;
      font-size: 1.1rem;
    }
  }

}
