@import "_abstracts/typography.scss";
@import "_abstracts/colors.scss";

.footer {
    font-family: $accent-font;
    font-size: 0.8rem;
    color: $accent-pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    //background-color:blue;
}

.soc-med {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $text-black;
    width: 20%;
    position: absolute;
    
    bottom: 3vh;
    margin-left: 3vw;
}

// XSMALL SCREEN

.soc-med-xsmall {
    position: absolute;
    bottom: 2vh;
    font-size: 1.1rem;
    position: fixed;
}

.footer-xsmall {
    font-size: 0.5rem;
}

//SMALL SCREEN
.soc-med-small {
    position: absolute;
    bottom: 2vh;
    font-size: 1.4rem;
    position: fixed;
}

.footer-small {
    font-size: 0.6rem;
}

//MEDIUM SCREEN
.soc-med-medium {
    font-size: 1.8rem;
    margin-left: 3vw;
    position: fixed;
}

.footer-medium {
    font-size: 0.6rem;
}

// LARGE SCREEN

.soc-med-large {
    font-size: 1.9rem;
    position: fixed;
}

.footer-large {
    font-size: 0.8rem;
}

// XLARGE SCREEN

.soc-med-xlarge {
    width: 12%;
    font-size: 2rem;
    margin-left: 2vw;
    bottom: 3vh;
}

.footer-xlarge {
    font-size: 1rem;
}
