@import '_abstracts/typography.scss';
@import '_abstracts/colors.scss';

.landing-body{
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.container-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: $heading-font-family;
  font-weight: 400;
  color: $text-black;
  background-color: $primary-white;
  height: 100vh;
  width: 100%;

  .tagline {
    display: flex;
    flex-direction: column;
    width: fit-content;
    letter-spacing: -0.25rem;
    margin-left: 3vw;
    line-height: 130%;
    align-items: center;

    .tagline1{
      font-weight: 500;
    }
    .tagline2 {
      font-weight: 700;
      text-align: center;
    }
   
    a{
      text-decoration: none;
    }
    .landing-button {
      margin-top: 7vh;
    }

  }
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: $primary-blue;
  color: $primary-white;
  text-transform: lowercase;
  border: none;
  font-weight: 300;
  cursor: pointer;
  
}

button:hover {
  background-color: $text-black;
  transition: .7s;
}

//XSMALL SCREEN////XSMALL SCREEN////XSMALL SCREEN////XSMALL SCREEN//

.xsmall {
  font-size: 3rem;

  .tagline-xsmall {
    letter-spacing: -0.15rem;
    margin-left: 3vw;
    line-height: 110%;
    align-items:flex-start;
    margin-top: -3vh;

  .tagline2-xsmall {
    font-size: 4rem;
    text-align: left;
    margin-left: 0.6vw;
  }
  .landing-button {
    margin-top: 3vh;
    .btn-xsmall {
    width: 40vw;
    height: 5.2vh;
    border-radius: 12px;
    font-size: .8rem;
    letter-spacing: .1rem;
  }
  .btn-log-in-xsmall{
    width: 28vw;
    
  }
  }
  
  }
  .landing-nsn-image {
    position: absolute;
    right: 0vw;
    margin-top: 18vh;
    overflow: hidden;
      .msnTest-xsmall {
        width: 94vw;
        height: auto;
        margin-right: -9vw
      }
  }
}


  
//SMALL SCREEN1////SMALL SCREEN1////SMALL SCREEN1////SMALL SCREEN1////SMALL SCREEN1//

.small {
  font-size: 4rem;
  justify-content: flex-start;

  .tagline-small {
    letter-spacing: -0.15rem;
    margin-left: 3vw;
    line-height: 115%;
    align-items:flex-start;
    margin-top: 15vh;

  .tagline2-small {
    font-size: 5rem;
    text-align: left;
    
    margin-left: 0.6vw;
  }
  .landing-button {
    margin-top: 1.2rem;
    margin-left: 0.6vw;
    .btn-small {
      width: 30vw;
      height: 5.2vh;
      border-radius: 12px;
      font-size: .9rem;
      letter-spacing: .1rem;
    }
    .btn-log-in-small{
      width: 22vw;
    }
  }
  }

  .landing-nsn-image {
    position: absolute;
    right: 0vw;
    margin-top: 42vh;
    overflow: hidden;
      .msnTest-small {
        width: 100vw;
        height: auto;
        margin-right: -9vw;
      }
  }
}

//MEDIUM SCREEN////MEDIUM SCREEN////MEDIUM SCREEN////MEDIUM SCREEN//
.medium {
  font-size: 7rem;
  justify-content: flex-start;

  .tagline-medium{
    margin-top: 13vh;
    font-size: 6rem;
    align-items: flex-start;
    line-height: 118%;
  
    .tagline2-medium {
      font-size: 7rem;
      margin-left: 3vw;
    }
    .landing-button {
      margin-top: 3vh;
      margin-left: 3vw;
    .btn-medium {
      width: 26vw;
      height: 5.2vh;
      border-radius: 12px;
      font-size: 1.2rem;
      letter-spacing: .1rem;
    }
    .btn-log-in-medium {
      width: 20vw;
    }
    }
}

.landing-nsn-image {
    position: absolute;
    right: 0vw;
    margin-top: 36vh;
    overflow: hidden;
      .msnTest-medium {
        width: 95vw;
        height: auto;
        margin-right: -9vw;
      }
  }
}



//LARGE SCREEN////LARGE SCREEN////LARGE SCREEN////LARGE SCREEN//
.large {
  font-size: 7rem;
  justify-content: flex-start;

  .tagline-large {
    margin-top: 10vh;
    font-size: 6rem;
    line-height: 118%;

    .tagline2-large {
      font-size: 8rem;
      margin-left: -5vw;
    }

    .landing-button {
      margin-top: 3vh;
      margin-left: -5vw;
    .btn-large {
      width: 26vw;
      height: 5.2vh;
      border-radius: 12px;
      font-size: 1.4rem;
      letter-spacing: .1rem;
    }
    .btn-log-in-large {
      width: 20vw;
    }
    }

  }

  

.landing-nsn-image {
    position: absolute;
    right: 0vw;
    margin-top: 35vh;
    overflow: hidden;
      .msnTest-large {
        width: 90vw;
        height: auto;
        margin-right: -6vw;
      }
  }
}




//XLARGE SCREEN////XLARGE SCREEN////XLARGE SCREEN////XLARGE SCREEN//

.xlarge {
  font-size: 6rem;
  justify-content: flex-start;

  .tagline-xlarge{
    margin-top: 13vh;
    .tagline2-xlarge {
      font-size: 9.4rem;
    }

    .landing-button {
      .btn-xlarge {
        width: 15.6rem;
        height: 3.1rem;
        border-radius: 12px;
        font-size: 1.4rem;
        letter-spacing: .1rem;
      }
      .btn-log-in{
        width: 12rem;
      }
    }

  }

  .landing-nsn-image {
    position: absolute;
    right: 0vw;
    margin-top: 8vh;
    overflow: hidden;
      .msnTest-xlarge {
        width: 70vw;
        height: auto;
        margin-right: -6vw;
      }
  }
}