@import '_abstracts/typography.scss';
@import '_abstracts/colors.scss';

.container-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: $heading-font-family;
  font-weight: 400;
  color: $text-black;
  background-color: $primary-white;
  height: 100vh;
  width: 100%;
  

  .tagline {
    display: flex;
    flex-direction: column;
    width: fit-content;
    letter-spacing: -0.25rem;
    margin-left: 3vw;
    line-height: 130%;
    align-items: center;


    .tagline1{
      font-weight: 500;
    }
    .tagline2 {
      font-weight: 700;
      text-align: center;
    }
   
    a{
      text-decoration: none;
    }
    .landing-button {
      margin-top: 5vh;
    }

  }
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: $primary-blue;
  color: $primary-white;
  text-transform: lowercase;
  border: none;
  font-weight: 300;
  cursor: pointer;
  
}

button:hover {
  background-color: $text-black;
  transition: .7s;
}

//XSMALL SCREEN////XSMALL SCREEN////XSMALL SCREEN////XSMALL SCREEN//

.xsmall {
  background-color: darkseagreen;
  font-size: 3rem;
}

.tagline2-small {
  font-size: 4rem;
}

.msnTest-xsmall {
  position: absolute;
  right: 0;
  height: 200px;
  width: 300px;
}

.btn-xsmall {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  font-size: .6rem;
  letter-spacing: .1rem;
}

//SMALL SCREEN1////SMALL SCREEN1////SMALL SCREEN1////SMALL SCREEN1////SMALL SCREEN1//

.small {
  background-color: darksalmon;
  font-size: 7rem;
}

.tagline2-small {
  font-size: 15rem;
}

.msnTest-small {
  position: absolute;
  right: 0;
  height: 800px;
  width: 1200px;
}

.btn-small {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  font-size: .6rem;
  letter-spacing: .1rem;
}

//MEDIUM SCREEN////MEDIUM SCREEN////MEDIUM SCREEN////MEDIUM SCREEN//
.medium {
  background-color: chocolate;
  font-size: 5rem;
}

.tagline2-medium {
  font-size: 15rem;
}

.msnTest-medium {
  position: absolute;
  right: 0;
  height: 300px;
  width: 500px;
}

.btn-medium {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  font-size: .6rem;
  letter-spacing: .1rem;
}

//LARGE SCREEN////LARGE SCREEN////LARGE SCREEN////LARGE SCREEN//
.large {
  background-color:mediumpurple;
  font-size: 7.5rem;
}

.tagline2-large {
  font-size: 12.5rem;
}

.msnTest-large {
  position: absolute;
  right: 0;
  height: 500px;
  width: 700px;
}

.btn-large {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  font-size: .6rem;
  letter-spacing: .1rem;
}

//XLARGE SCREEN////XLARGE SCREEN////XLARGE SCREEN////XLARGE SCREEN//

.xlarge {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: darkcyan;
  font-size: 6rem;
}

.tagline {
  
  
}

.tagline2-xlarge {
  font-size: 9.4rem;
}

.msnTest-xlarge {
  position: absolute;
  right: -6vw;
  width: 70vw;
  height: auto;
  margin-top: 3vh;
}

.btn-xlarge {
  width: 15.6rem;
  height: 3.1rem;
  border-radius: 12px;
  font-size: 1.4rem;
  letter-spacing: .1rem;
}
.btn-log-in{
  width: 12rem;
}