@import '_abstracts/typography';
@import '_abstracts/colors.scss';

.container-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: $heading-font-family;
  font-weight: 400;
  color: $text-black;
  background-color: $primary-white;
  height: 100vh;
  width: 100%;

  .tagline {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 2rem;

    .tagline2 {
      font-weight: 700;
    }
  }
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: $primary-blue;
  color: $primary-white;
  text-transform: lowercase;
  border: none;
  font-weight: 300;
  cursor: pointer;
}

button:hover {
  background-color: $text-black;
  transition: .7s;
}

// XSMALL SCREEN

.xsmall {
  font-size: 3rem;
}

.tagline2-small {
  font-size: 4rem;
}

.msnTest-xsmall {
  position: absolute;
  right: 0;
  height: 200px;
  width: 300px;
}

.btn-xsmall {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  font-size: .6rem;
  letter-spacing: .1rem;
}

// SMALL SCREEN

.small {
  font-size: 7rem;
}

.tagline2-small {
  font-size: 15rem;
}

.msnTest-small {
  position: absolute;
  right: 0;
  height: 800px;
  width: 1200px;
}

.btn-small {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  font-size: .6rem;
  letter-spacing: .1rem;
}

// MEDIUM SCREEN
.medium {
  font-size: 5rem;
}

.tagline2-medium {
  font-size: 15rem;
}

.msnTest-medium {
  position: absolute;
  right: 0;
  height: 300px;
  width: 500px;
}

.btn-medium {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  font-size: .6rem;
  letter-spacing: .1rem;
}

// LARGE SCREEN
.large {
  font-size: 7.5rem;
}

.tagline2-large {
  font-size: 12.5rem;
}

.msnTest-large {
  position: absolute;
  right: 0;
  height: 500px;
  width: 700px;
}

.btn-large {
  width: 90px;
  height: 30px;
  border-radius: 12px;
  font-size: .6rem;
  letter-spacing: .1rem;
}

// XLARGE SCREEN

.xlarge {
  font-size: 10rem;
}

.tagline {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 2rem;
}

.tagline2-xlarge {
  font-size: 15rem;
}

.msnTest-xlarge {
  position: absolute;
  right: 0;
  height: 800px;
  width: 1200px;
}

.btn-xlarge {
  width: 250px;
  height: 50px;
  border-radius: 12px;
  font-size: 1rem;
  letter-spacing: .1rem;
}