@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.landing-body {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.container-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2D2D2D;
  background-color: #F4F4F4;
  height: 100vh;
  width: 100%;
}
.container-landing .tagline {
  display: flex;
  flex-direction: column;
  width: fit-content;
  letter-spacing: -0.25rem;
  margin-left: 3vw;
  line-height: 130%;
  align-items: center;
}
.container-landing .tagline .tagline1 {
  font-weight: 500;
}
.container-landing .tagline .tagline2 {
  font-weight: 700;
  text-align: center;
}
.container-landing .tagline a {
  text-decoration: none;
}
.container-landing .tagline .landing-button {
  margin-top: 7vh;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #0F8CFF;
  color: #F4F4F4;
  text-transform: lowercase;
  border: none;
  font-weight: 300;
  cursor: pointer;
}

button:hover {
  background-color: #2D2D2D;
  transition: 0.7s;
}

.xsmall {
  font-size: 3rem;
}
.xsmall .tagline-xsmall {
  letter-spacing: -0.15rem;
  margin-left: 3vw;
  line-height: 110%;
  align-items: flex-start;
  margin-top: -3vh;
}
.xsmall .tagline-xsmall .tagline2-xsmall {
  font-size: 4rem;
  text-align: left;
  margin-left: 0.6vw;
}
.xsmall .tagline-xsmall .landing-button {
  margin-top: 3vh;
}
.xsmall .tagline-xsmall .landing-button .btn-xsmall {
  width: 40vw;
  height: 5.2vh;
  border-radius: 12px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.xsmall .tagline-xsmall .landing-button .btn-log-in-xsmall {
  width: 28vw;
}
.xsmall .landing-nsn-image {
  position: absolute;
  right: 0vw;
  margin-top: 18vh;
  overflow: hidden;
}
.xsmall .landing-nsn-image .msnTest-xsmall {
  width: 94vw;
  height: auto;
  margin-right: -9vw;
}

.small {
  font-size: 4rem;
  justify-content: flex-start;
}
.small .tagline-small {
  letter-spacing: -0.15rem;
  margin-left: 3vw;
  line-height: 115%;
  align-items: flex-start;
  margin-top: 15vh;
}
.small .tagline-small .tagline2-small {
  font-size: 5rem;
  text-align: left;
  margin-left: 0.6vw;
}
.small .tagline-small .landing-button {
  margin-top: 1.2rem;
  margin-left: 0.6vw;
}
.small .tagline-small .landing-button .btn-small {
  width: 30vw;
  height: 5.2vh;
  border-radius: 12px;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}
.small .tagline-small .landing-button .btn-log-in-small {
  width: 22vw;
}
.small .landing-nsn-image {
  position: absolute;
  right: 0vw;
  margin-top: 42vh;
  overflow: hidden;
}
.small .landing-nsn-image .msnTest-small {
  width: 100vw;
  height: auto;
  margin-right: -9vw;
}

.medium {
  font-size: 7rem;
  justify-content: flex-start;
}
.medium .tagline-medium {
  margin-top: 13vh;
  font-size: 6rem;
  align-items: flex-start;
  line-height: 118%;
}
.medium .tagline-medium .tagline2-medium {
  font-size: 7rem;
  margin-left: 3vw;
}
.medium .tagline-medium .landing-button {
  margin-top: 3vh;
  margin-left: 3vw;
}
.medium .tagline-medium .landing-button .btn-medium {
  width: 26vw;
  height: 5.2vh;
  border-radius: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
.medium .tagline-medium .landing-button .btn-log-in-medium {
  width: 20vw;
}
.medium .landing-nsn-image {
  position: absolute;
  right: 0vw;
  margin-top: 36vh;
  overflow: hidden;
}
.medium .landing-nsn-image .msnTest-medium {
  width: 95vw;
  height: auto;
  margin-right: -9vw;
}

.large {
  font-size: 7rem;
  justify-content: flex-start;
}
.large .tagline-large {
  margin-top: 10vh;
  font-size: 6rem;
  line-height: 118%;
}
.large .tagline-large .tagline2-large {
  font-size: 8rem;
  margin-left: -5vw;
}
.large .tagline-large .landing-button {
  margin-top: 3vh;
  margin-left: -5vw;
}
.large .tagline-large .landing-button .btn-large {
  width: 26vw;
  height: 5.2vh;
  border-radius: 12px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.large .tagline-large .landing-button .btn-log-in-large {
  width: 20vw;
}
.large .landing-nsn-image {
  position: absolute;
  right: 0vw;
  margin-top: 35vh;
  overflow: hidden;
}
.large .landing-nsn-image .msnTest-large {
  width: 90vw;
  height: auto;
  margin-right: -6vw;
}

.xlarge {
  font-size: 6rem;
  justify-content: flex-start;
}
.xlarge .tagline-xlarge {
  margin-top: 13vh;
}
.xlarge .tagline-xlarge .tagline2-xlarge {
  font-size: 9.4rem;
}
.xlarge .tagline-xlarge .landing-button .btn-xlarge {
  width: 15.6rem;
  height: 3.1rem;
  border-radius: 12px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.xlarge .tagline-xlarge .landing-button .btn-log-in {
  width: 12rem;
}
.xlarge .landing-nsn-image {
  position: absolute;
  right: 0vw;
  margin-top: 8vh;
  overflow: hidden;
}
.xlarge .landing-nsn-image .msnTest-xlarge {
  width: 70vw;
  height: auto;
  margin-right: -6vw;
}

/*# sourceMappingURL=Landing_Page.css.map */
