@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.login-body {
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.container-login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #F4F4F4;
  font-family: "Roboto", sans-serif;
}
.container-login .taskbar {
  background-color: #0F8CFF;
}
.container-login .taskbar .img {
  height: 1.2rem;
  width: auto;
  display: block;
  margin: 0.3rem;
}
.container-login .menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E1E0E0;
  font-size: 0.8rem;
}
.container-login .menu-bar li {
  float: left;
}
.container-login .menu-bar li a, .container-login .menu-bar .drop-button {
  display: inline-block;
  color: #2D2D2D;
  text-align: center;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}
.container-login .menu-bar li a:hover, .container-login .menu-bar .dropdown-menu:hover .drop-button {
  border-style: inset;
}
.container-login .menu-bar li.dropdown-menu {
  display: inline-block;
}
.container-login .menu-bar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.container-login .menu-bar .dropdown-content a {
  color: black;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  display: block;
  text-align: left;
}
.container-login .menu-bar .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.container-login .menu-bar .dropdown-menu:hover .dropdown-content {
  display: block;
}
.container-login .main-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container-login .main-page .nsn-text {
  color: #0F8CFF;
}
.container-login .main-page .nsn-text span {
  font-weight: 900;
}
.container-login .main-page .profile-picture {
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  border-style: solid;
  border-color: #0F8CFF;
  border-radius: 12px;
  border-width: 1px;
}
.container-login .main-page .login-input {
  display: flex;
  flex-direction: column;
  color: #0F8CFF;
  gap: 0.2vh;
  margin-left: auto;
  margin-right: auto;
}
.container-login .main-page .login-input .email-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
}
.container-login .main-page .login-input .email-input input {
  width: 100%;
  border-color: #0F8CFF;
  border-style: solid;
  border-width: 1px;
}
.container-login .main-page .login-input .email-input select {
  border-color: #0F8CFF;
  color: #0F8CFF;
  border-style: solid;
}
.container-login .main-page .login-input .password-input {
  border-color: #0F8CFF;
}
.container-login .main-page .login-input .password-input input {
  width: 100%;
  border-color: #0F8CFF;
  border-style: solid;
  border-width: 1px;
}
.container-login .main-page .select-status {
  margin-left: auto;
  margin-right: auto;
  color: #0F8CFF;
}
.container-login .main-page .select-status select {
  border: none;
  color: #0F8CFF;
  margin-left: 1vw;
  background-color: transparent;
}
.container-login .main-page .checkbox-area {
  display: flex;
  flex-direction: column;
  color: #0F8CFF;
  margin-top: 3vh;
  gap: 1vh;
  margin-left: auto;
  margin-right: auto;
}
.container-login .main-page .checkbox-area .remember-me, .container-login .main-page .checkbox-area .remember-password, .container-login .main-page .checkbox-area .sign-me-in-auto {
  display: flex;
  flex-direction: row;
}
.container-login .main-page .checkbox-area .remember-me label, .container-login .main-page .checkbox-area .remember-password label, .container-login .main-page .checkbox-area .sign-me-in-auto label {
  margin-left: 1vw;
}
.container-login .main-page button {
  height: 1.9rem;
  width: 7rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  border-radius: 12px;
}
.container-login .main-page .login-footer {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #0F8CFF;
}
.container-login .main-page .login-footer a {
  margin-left: 2vw;
  color: #0F8CFF;
}
.container-login .main-page .login-footer nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-login .main-page .login-footer nav p {
  margin-left: 2vw;
  text-align: left;
  font-size: 0.9rem;
}
.container-login .main-page .login-footer nav a {
  margin-right: 2vw;
  position: absolute;
  right: 0;
}

.xsmall .main-page .nsn-text {
  font-size: 0.77rem;
  margin-left: 0.5rem;
}
.xsmall .main-page .nsn-text span {
  font-size: 1.1rem;
}
.xsmall .main-page .profile-picture {
  width: 32vw;
}
.xsmall .main-page .login-input {
  font-size: 0.8rem;
  margin-top: 1.6vh;
  width: 50vw;
}
.xsmall .main-page .login-input .email-input {
  width: 50vw;
}
.xsmall .main-page .login-input .password-input {
  width: 50vw;
}
.xsmall .main-page .select-status {
  font-size: 0.8rem;
  width: 50vw;
  margin-top: 1.7vh;
}
.xsmall .main-page .checkbox-area {
  font-size: 0.8rem;
  width: 50vw;
}
.xsmall .main-page .checkbox-area .remember-me label, .xsmall .main-page .checkbox-area .remember-password label, .xsmall .main-page .checkbox-area .sign-me-in-auto label {
  margin-left: 1vw;
}

.small .main-page .nsn-text {
  font-size: 0.77rem;
  margin-left: 0.5rem;
}
.small .main-page .nsn-text span {
  font-size: 1.1rem;
}
.small .main-page .profile-picture {
  width: 28vw;
}
.small .main-page .login-input {
  font-size: 0.8rem;
  margin-top: 1.6vh;
  width: 40vw;
}
.small .main-page .login-input .email-input {
  width: 40vw;
}
.small .main-page .login-input .password-input {
  width: 40vw;
}
.small .main-page .select-status {
  font-size: 0.8rem;
  width: 40vw;
  margin-top: 1.7vh;
}
.small .main-page .checkbox-area {
  font-size: 0.8rem;
  width: 40vw;
}
.small .main-page .login-footer {
  font-size: 0.8rem;
}
.small .main-page .login-footer nav p {
  font-size: 1rem;
}

.medium .main-page .nsn-text {
  font-size: 0.77rem;
  margin-left: 0.5rem;
}
.medium .main-page .nsn-text span {
  font-size: 1.1rem;
}
.medium .main-page .profile-picture {
  width: 20vw;
}
.medium .main-page .login-input {
  font-size: 0.9rem;
  margin-top: 1.6vh;
  width: 30vw;
}
.medium .main-page .login-input .email-input {
  width: 30vw;
}
.medium .main-page .login-input .password-input {
  width: 30vw;
}
.medium .main-page .select-status {
  font-size: 0.9rem;
  width: 30vw;
  margin-top: 1.7vh;
}
.medium .main-page .checkbox-area {
  font-size: 0.9rem;
  width: 30vw;
}
.medium .main-page .login-footer {
  font-size: 0.8rem;
}
.medium .main-page .login-footer nav p {
  font-size: 1rem;
}

.large {
  background-color: burlywood;
}
.large .taskbar-large .img-large {
  height: 1.4rem;
  margin-left: 0.7rem;
}
.large .menu-bar ul {
  padding-left: 0.2rem;
}
.large .menu-bar li a, .large .menu-bar .drop-button {
  padding: 0.3rem 0.5rem;
}
.large .main-page .nsn-text {
  font-size: 1rem;
  margin-left: 0.7rem;
}
.large .main-page .nsn-text span {
  font-size: 1.3rem;
}
.large .main-page .profile-picture {
  width: 14vw;
  border-width: 2px;
}
.large .main-page .login-input {
  font-size: 1rem;
  margin-top: 2vh;
  width: 22vw;
}
.large .main-page .login-input .email-input {
  width: 22vw;
}
.large .main-page .login-input .password-input {
  width: 22vw;
}
.large .main-page .select-status {
  font-size: 1rem;
  width: 22vw;
  margin-top: 3vh;
}
.large .main-page .checkbox-area {
  font-size: 1rem;
  width: 22vw;
}
.large .main-page button {
  height: 2.2rem;
  width: 7rem;
  font-size: 1rem;
}
.large .main-page .login-footer {
  font-size: 0.9rem;
}
.large .main-page .login-footer nav p {
  font-size: 1.1rem;
}

.xlarge .taskbar-xlarge .img-xlarge {
  height: 1.4rem;
  margin: 0.5rem;
  margin-left: 1rem;
}
.xlarge .menu-bar-xlarge ul {
  padding-left: 0.6rem;
}
.xlarge .menu-bar-xlarge li a, .xlarge .menu-bar-xlarge .drop-button {
  padding: 0.4rem 0.5rem;
}
.xlarge .main-page .nsn-text {
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 0.4rem;
}
.xlarge .main-page .nsn-text span {
  font-size: 1.3rem;
}
.xlarge .main-page .profile-picture {
  width: 10vw;
  margin-top: 4vh;
  border-width: 2px;
}
.xlarge .main-page .login-input {
  font-size: 1rem;
  margin-top: 2vh;
  width: 15vw;
}
.xlarge .main-page .login-input .email-input {
  width: 15vw;
}
.xlarge .main-page .login-input .password-input {
  width: 15vw;
}
.xlarge .main-page .select-status {
  font-size: 1rem;
  width: 15vw;
  margin-top: 3vh;
}
.xlarge .main-page .checkbox-area {
  font-size: 1rem;
  width: 15vw;
}
.xlarge .main-page button {
  height: 2.2rem;
  width: 7rem;
  font-size: 1rem;
}
.xlarge .main-page .login-footer {
  font-size: 0.9rem;
}
.xlarge .main-page .login-footer nav p {
  font-size: 1.1rem;
}

/*# sourceMappingURL=Login.css.map */
