@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.login-body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  width: 100vw;
}

.container-login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #F4F4F4;
  font-family: "Roboto", sans-serif;
}
.container-login .taskbar {
  background-color: #0F8CFF;
}
.container-login .taskbar .img {
  height: 1.2rem;
  width: auto;
  display: block;
  margin: 0.3rem;
}
.container-login .main-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container-login .main-page .nsn-text {
  color: #0F8CFF;
}
.container-login .main-page .nsn-text span {
  font-weight: 900;
}
.container-login .main-page .profile-picture {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  border-style: solid;
  border-color: #0F8CFF;
  border-radius: 12px;
  border-width: 1px;
}
.container-login .main-page .login-input {
  display: flex;
  flex-direction: column;
  color: #0F8CFF;
  gap: 0.2vh;
  margin-left: auto;
  margin-right: auto;
}
.container-login .main-page .login-input .email-input {
  margin-bottom: 1vh;
}
.container-login .main-page .login-input .email-input input {
  width: 100%;
  border-color: #0F8CFF;
  border-style: solid;
  border-width: 1px;
  height: 1.1rem;
}
.container-login .main-page .login-input .password-input {
  border-color: #0F8CFF;
}
.container-login .main-page .login-input .password-input input {
  width: 100%;
  border-color: #0F8CFF;
  border-style: solid;
  border-width: 1px;
  height: 1.1rem;
}
.container-login .main-page button {
  height: 2rem;
  width: 7rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  border-radius: 12px;
}
.container-login .main-page .login-footer {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #0F8CFF;
}
.container-login .main-page .login-footer nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-login .main-page .login-footer nav p {
  margin-left: 2vw;
  text-align: left;
  font-size: 0.9rem;
}
.container-login .main-page .login-footer nav a {
  margin-right: 2vw;
  position: absolute;
  right: 0;
}

.xsmall .main-page .nsn-text {
  font-size: 0.77rem;
  margin-left: 0.5rem;
}
.xsmall .main-page .nsn-text span {
  font-size: 1.1rem;
}
.xsmall .main-page .profile-picture {
  width: 32vw;
}
.xsmall .main-page .login-input {
  font-size: 0.8rem;
  margin-top: 2vh;
  width: 50vw;
}
.xsmall .main-page .login-input .email-input {
  width: 50vw;
}
.xsmall .main-page .login-input .password-input {
  width: 50vw;
}

.small .main-page .nsn-text {
  font-size: 0.77rem;
  margin-left: 0.5rem;
}
.small .main-page .nsn-text span {
  font-size: 1.1rem;
}
.small .main-page .profile-picture {
  width: 28vw;
  margin-top: 5vh;
}
.small .main-page .login-input {
  font-size: 0.8rem;
  margin-top: 3vh;
  width: 40vw;
}
.small .main-page .login-input .email-input {
  width: 40vw;
  margin-bottom: 2vh;
}
.small .main-page .login-input .email-input input {
  height: 1.4rem;
}
.small .main-page .login-input .password-input {
  width: 40vw;
}
.small .main-page .login-input .password-input input {
  height: 1.4rem;
}
.small .main-page button {
  height: 2.2rem;
}
.small .main-page .login-footer {
  font-size: 0.8rem;
}
.small .main-page .login-footer nav p {
  font-size: 1rem;
}

.medium .main-page .nsn-text {
  font-size: 0.77rem;
  margin-left: 0.5rem;
}
.medium .main-page .nsn-text span {
  font-size: 1.1rem;
}
.medium .main-page .profile-picture {
  width: 26vw;
  margin-top: 6vh;
}
.medium .main-page .login-input {
  font-size: 0.9rem;
  margin-top: 3vh;
  width: 38vw;
}
.medium .main-page .login-input .email-input {
  width: 38vw;
}
.medium .main-page .login-input .email-input input {
  height: 1.4rem;
}
.medium .main-page .login-input .password-input {
  width: 38vw;
}
.medium .main-page .login-input .password-input input {
  height: 1.4rem;
}
.medium .main-page button {
  height: 2.2rem;
}
.medium .main-page .login-footer {
  font-size: 0.8rem;
}
.medium .main-page .login-footer nav p {
  font-size: 1rem;
}

.large .taskbar-large .img-large {
  height: 1.4rem;
  margin-left: 0.7rem;
}
.large .main-page .nsn-text {
  font-size: 1rem;
  margin-left: 0.7rem;
}
.large .main-page .nsn-text span {
  font-size: 1.3rem;
}
.large .main-page .profile-picture {
  width: 15vw;
  border-width: 2px;
}
.large .main-page .login-input {
  font-size: 1rem;
  margin-top: 3vh;
  width: 22vw;
}
.large .main-page .login-input .email-input {
  width: 22vw;
}
.large .main-page .login-input .email-input input {
  height: 1.4rem;
}
.large .main-page .login-input .password-input {
  width: 22vw;
}
.large .main-page .login-input .password-input input {
  height: 1.4rem;
}
.large .main-page button {
  height: 2.2rem;
  width: 7rem;
  font-size: 1rem;
}
.large .main-page .login-footer {
  font-size: 0.9rem;
}
.large .main-page .login-footer nav p {
  font-size: 1.1rem;
}

.xlarge .taskbar-xlarge .img-xlarge {
  height: 1.4rem;
  margin: 0.5rem;
  margin-left: 1rem;
}
.xlarge .main-page .nsn-text {
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 0.4rem;
}
.xlarge .main-page .nsn-text span {
  font-size: 1.3rem;
}
.xlarge .main-page .profile-picture {
  width: 12vw;
  margin-top: 5vh;
  border-width: 2px;
}
.xlarge .main-page .login-input {
  font-size: 1rem;
  margin-top: 4vh;
  width: 15vw;
}
.xlarge .main-page .login-input .email-input {
  width: 15vw;
}
.xlarge .main-page .login-input .email-input input {
  height: 1.6rem;
}
.xlarge .main-page .login-input .password-input {
  width: 15vw;
}
.xlarge .main-page .login-input .password-input input {
  height: 1.6rem;
}
.xlarge .main-page button {
  height: 2.2rem;
  width: 7rem;
  font-size: 1rem;
}
.xlarge .main-page .login-footer {
  font-size: 0.9rem;
}
.xlarge .main-page .login-footer nav p {
  font-size: 1.1rem;
}/*# sourceMappingURL=Login.css.map */