@import '_abstracts/typography.scss';
@import '_abstracts/colors.scss';


.login-body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container-login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #F4F4F4;
  font-family: $heading-font-family;
    
  .taskbar{
    background-color: $primary-blue;
    .img{
      height: 1.2rem;
      width: auto;
      display:block;
      margin: 0.3rem;
    }
  }

  // Menu bar///////////
  .menu-bar {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #E1E0E0;
      font-size: 0.8rem;
    }

    li {
      float: left;
    }

    li a, .drop-button {
      display: inline-block;
      color: $text-black;
      text-align: center;
      padding: 0.2rem 0.5rem;
      text-decoration: none;
    }

    li a:hover, .dropdown-menu:hover .drop-button {
      border-style: inset;
    }

    li.dropdown-menu {
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 0.3rem 0.5rem;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {background-color: #f1f1f1;}

    .dropdown-menu:hover .dropdown-content {
      display: block;
    }
  }
//////////////////

  .main-page{
    display: flex;
    flex-direction: column;
    flex:1;
    .nsn-text{
      color: $primary-blue;
      span{
        font-weight: 900;
      }
    }
    .profile-picture{
        aspect-ratio: 1 / 1;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3vh;
        border-style: solid;
        border-color: $primary-blue;
        border-radius: 12px;
        border-width: 1px;
    }
    .login-input{
        display: flex;
        flex-direction: column;
        color: $primary-blue;
        gap: 0.2vh;
        margin-left: auto;
        margin-right: auto;
        .email-input{
          display: flex;
          flex-direction: row;
          margin-bottom: 1vh;
          input {
            width: 100%;
            border-color: $primary-blue;
            border-style: solid;
            border-width: 1px;
          }
          select {
            border-color: $primary-blue;
            color: $primary-blue;
            border-style: solid;
          }
        }
        .password-input{
          border-color: $primary-blue;
          input {
            width: 100%;
            border-color: $primary-blue;
            border-style: solid;
            border-width: 1px;
          }
        }
    }
    .select-status {
      margin-left: auto;
      margin-right: auto;
      color: $primary-blue;

      select {
        border: none;
        color: $primary-blue;
        margin-left: 1vw;
        background-color: transparent;
      }
    }
    .checkbox-area{
      display: flex;
      flex-direction: column;
      color: $primary-blue;
      margin-top: 3vh;
      gap: 1vh;
      margin-left: auto;
      margin-right: auto;
      .remember-me, .remember-password, .sign-me-in-auto{
        display: flex;
        flex-direction: row;
        label{
          margin-left: 1vw;
        }
      }
    }
    button {
      height: 1.9rem;
      width: 7rem;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3vh;
      border-radius: 12px;
    }
    .login-footer {
      font-size: 0.8rem;
      position: absolute;
      bottom: 0;
      margin-bottom: 2vh;
      margin-left: 1rem;
      width: 100%;
      color: $primary-blue;
      a{
        color: $primary-blue;
      }
      nav {
        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        p{
          text-align: left;
        }
        a{
          position: absolute;
          right: 0;
          margin-right: 2rem;
        }
      }
    }
  }
}

// XSMALL SCREEN//// XSMALL SCREEN//// XSMALL SCREEN//// XSMALL SCREEN//// XSMALL SCREEN//

.xsmall {
  .main-page{
    .nsn-text{
      font-size: 0.77rem;
      margin-left: 0.5rem;
      span{
        font-size: 1.1rem;
      }
    }
    .profile-picture{
      width: 32vw;
    }
    .login-input{
      font-size: 0.8rem;
      margin-top: 1.6vh;
      width: 50vw;
      .email-input{
        width: 50vw;
      }
      .password-input{
        width: 50vw;
      }
    }
    .select-status {
      font-size: 0.8rem;
      width: 50vw;
      margin-top: 1.7vh;
    }
    .checkbox-area{
      font-size: 0.8rem;
      width: 50vw;
      .remember-me, .remember-password, .sign-me-in-auto{
        label{
          margin-left: 1vw;
        }
      }
    }
  }
}
// SMALL SCREEN//// SMALL SCREEN//// SMALL SCREEN//// SMALL SCREEN//

.small {
  .main-page{
    .nsn-text{
      font-size: 0.77rem;
      margin-left: 0.5rem;
      span{
        font-size: 1.1rem;
      }
    }
    .profile-picture{
      width: 28vw;
    }
    .login-input{
      font-size: 0.8rem;
      margin-top: 1.6vh;
      width: 40vw;
      .email-input{
        width: 40vw;
      }
      .password-input{
        width: 40vw;
      }
    }
    .select-status {
      font-size: 0.8rem;
      width: 40vw;
      margin-top: 1.7vh;
    }
    .checkbox-area{
      font-size: 0.8rem;
      width: 40vw;
    }
  }
}

// MEDIUM SCREEN//////////////////////////////////////////////////////////////////////////////////////////////////////////
.medium {
  .main-page {
    .nsn-text{
      font-size: 0.77rem;
      margin-left: 0.5rem;
      span{
        font-size: 1.1rem;
      }
    }
    .profile-picture{
        width: 18vw;
    }
    .login-input{
      font-size: 0.8rem;
      margin-top: 1.6vh;
      width: 30vw;
      .email-input{
        width: 30vw;
      }
      .password-input{
        width: 30vw;
      }
    }
    .select-status {
      font-size: 0.8rem;
      width: 30vw;
      margin-top: 1.7vh;
    }
    .checkbox-area{
      font-size: 0.8rem;
      width: 30vw;
    }
  }
}

// LARGE SCREEN//////////////////////////////////////////////////////////////////////////////////////////////////////////
.large{
  .taskbar-large{
    .img-large{
      height: 1.4rem;
      margin-left: 0.7rem;
    }
  }
  // Menu bar///////////
  .menu-bar {
    ul {
      padding-left: 0.2rem;  
    }
    li a, .drop-button {
      padding: 0.3rem 0.5rem;
    }
  }
  //////////////////
  .main-page {
    .nsn-text{
      font-size: 1rem;
      margin-left: 0.7rem;
      span{
        font-size: 1.3rem;
      }
    }
    .profile-picture{
        width: 12vw;
        border-width: 2px;
    }
    .login-input{
      font-size: 0.9rem;
      margin-top: 2vh;
      width: 20vw;
      .email-input{
        width: 20vw;
      }
      .password-input{
        width: 20vw;
      }
    }
    .select-status {
      font-size: 0.9rem;
      width: 20vw;
      margin-top: 3vh;
    }
    .checkbox-area{
      font-size: 0.9rem;
      width: 20vw;
    }  
  }
}

// XLARGE SCREEN//////////////////////////////////////////////////////////////////////////////////////////////////////////
.xlarge {
  .taskbar-xlarge{
    .img-xlarge{
      height: 1.5rem;
      margin: 0.5rem;
      margin-left: 1rem;
    }
  }
  // Menu bar///////////
  .menu-bar-xlarge {
    ul {
      padding-left: 0.6rem;
    }
    li a, .drop-button {
      padding: 0.4rem 0.5rem;
    }
  }
  //////////////////
  .main-page {
    .nsn-text{
      font-size: 1rem;
      margin-left: 1rem;
      margin-top: 0.4rem;
      span{
        font-size: 1.3rem;
      }
    }
    .profile-picture{
        width: 10vw;
        margin-top: 4vh;
        border-width: 2px;
    }
    .login-input{
      font-size: 1rem;
      margin-top: 2vh;
      width: 15vw;
      .email-input{
        width: 15vw;
      }
      .password-input{
        width: 15vw;
      }
    }
    .select-status {
      font-size: 1rem;
      width: 15vw;
      margin-top: 3vh;
    }
    .checkbox-area{
      font-size: 1rem;
      width: 15vw;
    }
  }
}