@import '_abstracts/typography.scss';
@import '_abstracts/colors.scss';

.container-navbar {
  background-color: $primary-white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  

  .navbar {
    display: flex;
    flex-direction: row;
    font-family: $accent-font;
    justify-content: space-between;
    align-items: center;

    .img {
      margin-left: 2vw;
      width: auto;
    }

    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin-right: 4vw;

      a {
        text-decoration: none;
        color: $accent-pink;
      }
    }
  }
}

// XSMALL SCREEN

.navbar-xsmall {
  font-size: 1.2rem;
  margin-top: 1vh;
  height: 6vh;
}

.img-xsmall {
  height: 5vh;
}

// MEDIUM SCREEN
.navbar-medium {
  font-size: 1.6rem;
  margin-top: 1vh;
  height: 6vh;
}

.img-medium {
  height: 4vh;
}

// LARGE SCREEN
.navbar-large {
  height: 7vh;
  font-size: 1.6rem;
}

.img-large {
  height: 4vh;
}

// XLARGE SCREEN

.navbar-xlarge {
  font-size: 1.8rem;
  gap: 3em;
}


