@import '_abstracts/typography';
@import '_abstracts/colors.scss';

.container-navbar {
  background-color: $primary-white;

  .navbar {
    display: flex;
    flex-direction: row;
    font-family: $accent-font;
    justify-content: space-between;

    .img {
      margin: .6rem 0 0 2rem;
    }

    ul {
      list-style-type: none;
      margin: 1rem 2rem 0 0;

      a {
        text-decoration: none;
        color: $accent-pink;
      }
    }
  }
}

// XSMALL SCREEN

.navbar-xsmall {
  font-size: 1.2rem;
  gap: 3em;
}

.img-xsmall {
  width: 35%;
}

// XLARGE SCREEN

.navbar-xlarge {
  font-size: 1.8rem;
  gap: 3em;
}


