@import '_abstracts/typograhpy.scss';
@import '_abstracts/colors.scss';

.register-body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    text-align: center;
}

.container-register {
    display: flex;
    flex-direction: column;
    font-family: $heading-font-family;
    color: $text-black;
    background-color: $primary-white;
    height: 100vh;
    width: 100vw;
    font-weight: normal;
    font-size: 1rem;
}

.header-register {
    display: flex;
    margin-top: 3vh;
    margin-left: 2vw;
    .nsn-logo-header {
        width: 16vw;
    }
}
.big-nsn-image {
    width: 40vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5vh;
}

.register-input {
    display: flex;
    flex-direction: column;
    width: 22vw;
    margin-left: auto;
    margin-right: auto;
    gap: 2vh;
    margin-bottom: 2vh;

    .register-email-input,
    .register-password-input {
        position: relative;
        display: flex;
        align-items: center;
    }

    .register-mail-adress,
    .register-password {
        background-color: $primary-blue;
        height: 6vh;
        border: none;
        border-radius: 12px;
        width: 100%;
        padding-left: 3rem;
        font-size: 1.2rem;
    }

    input.register-mail-adress::placeholder,
    input.register-password::placeholder {
        color: $primary-white;
    }

    .input-icons {
        position: absolute;
        font-size: 1.2rem;
        margin-left: 0.8rem;
        pointer-events: none;
    }
}

.register-sign-up {
    width: 10vw;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    font-size: 1rem;
    margin-bottom: 0;
}

.register-user-log-in {
    margin-top: 2vh;
    font-weight: bold;
    font-size: 0.8rem;
    a {
        color: $text-black;
    }
}

.register-google-sign-up-container {
    position: relative;
    flex: 1;
    

    .register-google-sign-up {
        width: 100vw;
        position: absolute;
        bottom: 1vh;
        font-weight: 500;
        font-size: 0.9rem;
        vertical-align: middle;
        a {
            text-decoration: none;
            font-weight: 900;
            color: $text-black;
        }
    }
}

.google-icon {
    margin-right: 0.6vw;
    font-size: 1.2rem;
}

.xlarge {
    background-color: aqua;
}

//LARGE////LARGE////LARGE////LARGE////LARGE////LARGE////LARGE////LARGE////LARGE////LARGE////LARGE////LARGE////LARGE//
.large {
    background-color: blueviolet;
    .big-nsn-image {
        width: 50vw;
    }
    .register-input {
        width: 28vw;
        .register-mail-adress,
        .register-password {
            height: 5vh;
            font-size: 1.1rem;
        }
    }
    .register-sign-up {
        height: 5vh;
        font-size: 0.9rem;
    }
}

//MEDIUM////MEDIUM////MEDIUM////MEDIUM////MEDIUM////MEDIUM////MEDIUM////MEDIUM////MEDIUM////MEDIUM////MEDIUM////MEDIUM//
.medium {
    background-color: chocolate;
    .header-register {
    margin-top: 2vh;
    margin-left: 4vw;
        .nsn-logo-header {
            width: 24vw;
        }
    }
    .big-nsn-image {
        width: 75vw;
        margin-top: 1vh;
    }
    .register-input {
        width: 40vw;
        margin-top: 1vh;
        gap:3vh;
        margin-bottom: 0;
        .register-mail-adress,
        .register-password {
            height: 5vh;
            font-size: 1rem;
        }
        .register-mail-adress:focus,
        .register-password:focus {
            outline: none;
        }
    }
    .register-sign-up {
        margin-top:3vh;
        height: 5vh;
        font-size: 0.9rem;
        width: 16vw;
    }
    .register-user-log-in {
        margin-top: 3vh;
    }
    .register-google-sign-up {
        bottom: 2vh;
    }
}

//SMALL////SMALL////SMALL////SMALL////SMALL////SMALL////SMALL////SMALL////SMALL////SMALL////SMALL////SMALL////SMALL////SMALL//
.small {
    background-color: crimson;
    .big-nsn-image {
        width: 60vw;
    }
    .register-input {
        width: 28vw;
        .register-mail-adress,
        .register-password {
            height: 5.4vh;
            font-size: 1rem;
        }
    }
    .register-sign-up {
        height: 5.4vh;
        font-size: 0.9rem;
    }
}

//XSMALL////XSMALL////XSMALL////XSMALL////XSMALL////XSMALL////XSMALL////XSMALL////XSMALL////XSMALL////XSMALL////XSMALL////XSMALL//
.xsmall {
    background-color: darkseagreen;
    .header-register {
    margin-top: 2vh;
    margin-left: 4vw;
        .nsn-logo-header {
            width: 40vw;
        }
    }
     .big-nsn-image {
        width: 90vw;
        margin-top: 3vh;
    }
     .register-input {
        width: 60vw;
        gap: 3vh;
        margin-bottom: 3vh;
        margin-top: 1vh;
        .register-mail-adress,
        .register-password {
            height: 5.4vh;
            font-size: 1rem;
        }
    }
    .register-sign-up {
        height: 5.4vh;
        font-size: 0.9rem;
        width: 30vw;
    }
    .register-user-log-in {
        margin-top: 3vh;
    }
}
