@import '_abstracts/typograhpy.scss';
@import '_abstracts/colors.scss';

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  text-align: center;
}

.container-register{
  display: flex;
  flex-direction: column;
  font-family: $heading-font-family;
  color: $text-black;
  background-color: $primary-white;
  height: 100vh;
  width: 100vw;
  font-weight: normal;
  font-size: 1rem;
}

.header-register{
  display: flex;
  margin-top: 3vh;
  margin-left: 2vw;
  .nsn-logo-header{
    width: 16vw;
  }
}
.big-nsn-image{
  width: 40vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5vh;
  margin-bottom: -1vh;
}

.register-input {
  display: flex;
  flex-direction: column;
  width: 22vw;
  margin-left: auto;
  margin-right: auto;
  gap: 2vh;
  margin-bottom: 2vh;

  .register-email-input, .register-password-input{
    position:relative;
    display: flex;
    align-items: center;
  }

  .register-mail-adress,
  .register-password {
    background-color: $primary-blue;
    height: 6vh;
    border: none;
    border-radius: 12px;
    width: 100%;
    padding-left: 3rem;
    font-size: 1.2rem;
  }

  input.register-mail-adress::placeholder,
  input.register-password::placeholder{
    color: $primary-white;
  }

  .input-icons {
    position: absolute;
    font-size: 1.2rem;
    margin-left: 0.8rem;
    pointer-events: none;
  }
}

.register-sign-up{
  width: 10vw;
  height: 6vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  font-size: 1rem;
}

.register-user-log-in{
  font-weight: bold;
  font-size: 0.8rem;
  a{
    color: $text-black;
  }
}

.register-google-sign-up{
  font-weight: bold;
}